.slider_container{
    padding: 30px 100px;
}
.services_heading{
    color: white;
    text-align: center;
    padding: 20px
}
.services{
    width: 100%;
    padding: 20px 80px;
}
.services img{
    width: 95%;
    border-radius: 2%;
    border: 2px solid white;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
}
@media(max-width:900px){
    .services{
        padding: 0px;
    }
}