.ai_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px 100px;
}
.ai_container h1 {
  color: white;
  font-size: 24px;
  text-align: center;
}
button {
  padding: 20px 50px;
  border-radius: 60px;
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
img {
  width: 30%;
}
.image_2{
    width: 100%;
}
.ai_gif {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media(max-width:1100px){
    img{
        width: 100%;
    }
}